{# app/Resources/TwigBundle/views/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>A CUSTOM 500 ERROR OCCURRED</h1>
    
    <span>
      Note that:
    </span>
    <ul>
      <li>In dev mode, the 'exception.*.twig' templates are used</li>
      <li>In prod mode, the 'error*.twig' templates are used.
    </ul>
    
    <p>
      This is the custom error template used for ALL errors thrown in 'prod' mode
      that have not been captured by the error404.html.twig. Typically you would
      use this template for 500 internal server errors.
    </p>
    <p>
      Location: app/Resources/TwigBundle/views/Exception/error.html.twig
    </p>
    <p>
      If no custom error templates are used, then the default Twig error templates 
      will be used in the following location:
      <br>
      <br>
      vendor/symfony/symfony/src/Symfony/Bundle/TwigBundle/Resources/views/Exception/
    </p>
{% endblock %}
